PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/waleads
REPOSITORY_MODE=mongo
WHATSAPP_VERIFY_TOKEN=cambiar-token-verificacion
WHATSAPP_APP_SECRET=cambiar-app-secret
LOG_LEVEL=info
